### Задание 1
Скачайте с сайта https://grouplens.org/datasets/movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [16]:
import pandas as pd

ratings = pd.read_csv('ml-latest-small/ratings.csv')
row = ratings.query('rating == 5')['movieId'].value_counts().head(1)

movies = pd.read_csv('ml-latest-small/movies.csv')

title = movies.query(f'movieId == {row.keys()[0]}').iloc[0]['title']
title
#print(f' "{title}"больше всего оценок 5')

'Shawshank Redemption, The (1994)'

### Задание 2
По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [18]:
power = pd.read_csv('power.csv')

# Вычисляем суммарное потребление энергии
total_qty = power.quantity[
    ((power['country'] == 'Latvia') | (power['country'] == 'Lithuania') | (power['country'] == 'Estonia')) &
    ((power['category'] == 4) | (power['category'] == 12) | (power['category'] == 21)) &
    (power['year'] >= 2005) & (power['year'] < 2010) &
    (power['quantity'] > 0)
].sum()
total_qty
#print('Суммарное потребление энергии равно {}'.format(total_qty))

201719.0

### Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
https://www.finanz.ru/valyuty/v-realnom-vremeni

In [30]:
dataframe = pd.read_html('https://fortrader.org/quotes')[5]
dataframe

,Type,Last,Chg.,Chg.%,Time
0,Bitcoin Курс биткоина,9400.480000,-248.97,-2.58,NaN
1,Litecoin Курс лайткоин к доллару (LTC/USD),72.270000,-3.41,-4.50,NaN
2,BitcoinCash Курс Биткоин кеш к доллару США (BC...,355.370000,-22.00,-5.83,NaN
3,Dash Dash,97.220000,-6.46,-6.23,NaN
4,Ripple Ripple,0.260010,-0.01077,-3.97740,NaN
5,Ethereum Ethereum,253.255000,-11.055,-4.183,NaN
6,EmerCoin EmerCoin,NaN,нет данных,нет данных,NaN
7,NameCoin NameCoin,NaN,нет данных,нет данных,NaN
8,PeerCoin PeerCoin,NaN,нет данных,нет данных,NaN
9,BTCRUB биткоин в рублях,247059.000000,нет данных,нет данных,NaN
10,BTCEUR биткоин в евро,8678.440000,нет данных,нет данных,NaN
11,Zcash (ZEC),58.204000,-2.796,-4.584,NaN
12,NEO (NEO),12.853000,-0.542,-4.043,NaN
13,EOS (EOS),4.056500,-0.0713,-1.7273,NaN
14,TRON (TRX),0.019180,-0.00070,-3.49686,NaN
15,Monero,78.350000,-0.71,-0.89,NaN
16,Cardano,0.058258,-0.000702,-1.190638,NaN
17,IOTA,0.252050,-0.00972,-3.71134,NaN
18,"ETC/USD эфириум классик, ETC",9.046900,-0.3203,-3.4194,NaN